doctype html
html
  head
    title <%= title %>
    link(rel='stylesheet', href='main.css')
  body
    h1 Basic Html.
    p really not much going on here. You'll want to edit this file and make it your own.